{% extends 'base.html' %}
{% load static %}
{% block title %}about{% endblock title %}
{% block content %}
<h1>About page</h1>
<h3>Rami Mahmoud</h3>
<img src="{% static 'img/green.png' %}" alt="green">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ad cupiditate porro fuga? Aut possimus nam molestias deleniti velit pariatur, fuga animi nihil laborum amet recusandae maxime esse quaerat illum doloremque dignissimos quas placeat reiciendis quis inventore, voluptatibus ipsam dicta!</p>



{% endblock content %}